.header {
  background-color: #ffcc00;
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  margin-top: 0px;
  font-size: 1.2em;
  font-weight: 500;
}

.card {
  border: 1px solid #d1d1d1;
  width: 100%;
}

.name {
  font-weight: 700;
  font-size: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

p {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 640px) {
  p {
    font-size: 16px;
  }
}